/*M!999999\- enable the sandbox mode */ 
-- MariaDB dump 10.19-11.4.5-MariaDB, for Win64 (AMD64)
--
-- Host: localhost    Database: ecommerce
-- ------------------------------------------------------
-- Server version	11.4.5-MariaDB

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!40101 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*M!100616 SET @OLD_NOTE_VERBOSITY=@@NOTE_VERBOSITY, NOTE_VERBOSITY=0 */;

--
-- Current Database: `ecommerce`
--

CREATE DATABASE /*!32312 IF NOT EXISTS*/ `ecommerce` /*!40100 DEFAULT CHARACTER SET latin1 COLLATE latin1_swedish_ci */;

USE `ecommerce`;

--
-- Table structure for table `alamat`
--

DROP TABLE IF EXISTS `alamat`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `alamat` (
  `id_alamat` int(11) NOT NULL,
  `provinsi` varchar(255) DEFAULT NULL,
  `kota` varchar(255) DEFAULT NULL,
  `jalan` varchar(255) DEFAULT NULL,
  PRIMARY KEY (`id_alamat`)
) ENGINE=InnoDB DEFAULT CHARSET=latin1 COLLATE=latin1_swedish_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `alamat`
--

LOCK TABLES `alamat` WRITE;
/*!40000 ALTER TABLE `alamat` DISABLE KEYS */;
/*!40000 ALTER TABLE `alamat` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `alamatdefault`
--

DROP TABLE IF EXISTS `alamatdefault`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `alamatdefault` (
  `id_alamat_pembeli` int(11) NOT NULL,
  `is_default` tinyint(1) DEFAULT 1,
  PRIMARY KEY (`id_alamat_pembeli`),
  CONSTRAINT `alamatdefault_ibfk_1` FOREIGN KEY (`id_alamat_pembeli`) REFERENCES `alamatpembeli` (`id_alamat_pembeli`)
) ENGINE=InnoDB DEFAULT CHARSET=latin1 COLLATE=latin1_swedish_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `alamatdefault`
--

LOCK TABLES `alamatdefault` WRITE;
/*!40000 ALTER TABLE `alamatdefault` DISABLE KEYS */;
/*!40000 ALTER TABLE `alamatdefault` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `alamatpembeli`
--

DROP TABLE IF EXISTS `alamatpembeli`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `alamatpembeli` (
  `id_alamat_pembeli` int(11) NOT NULL,
  `id_pembeli` int(11) DEFAULT NULL,
  `id_alamat` int(11) DEFAULT NULL,
  PRIMARY KEY (`id_alamat_pembeli`),
  KEY `id_pembeli` (`id_pembeli`),
  KEY `id_alamat` (`id_alamat`),
  CONSTRAINT `alamatpembeli_ibfk_1` FOREIGN KEY (`id_pembeli`) REFERENCES `pembeli` (`id_pembeli`),
  CONSTRAINT `alamatpembeli_ibfk_2` FOREIGN KEY (`id_alamat`) REFERENCES `alamat` (`id_alamat`)
) ENGINE=InnoDB DEFAULT CHARSET=latin1 COLLATE=latin1_swedish_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `alamatpembeli`
--

LOCK TABLES `alamatpembeli` WRITE;
/*!40000 ALTER TABLE `alamatpembeli` DISABLE KEYS */;
/*!40000 ALTER TABLE `alamatpembeli` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `atributvarian`
--

DROP TABLE IF EXISTS `atributvarian`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `atributvarian` (
  `atribut_varian` varchar(50) NOT NULL,
  `nama` varchar(100) DEFAULT NULL,
  PRIMARY KEY (`atribut_varian`)
) ENGINE=InnoDB DEFAULT CHARSET=latin1 COLLATE=latin1_swedish_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `atributvarian`
--

LOCK TABLES `atributvarian` WRITE;
/*!40000 ALTER TABLE `atributvarian` DISABLE KEYS */;
INSERT INTO `atributvarian` (`atribut_varian`, `nama`) VALUES ('JENIS_KAIN','Jenis Kain'),
('MATERIAL','Material'),
('RAM','RAM'),
('RESOLUSI_LAYAR','Resolusi Layar'),
('STORAGE_INTERNAL','Penyimpanan Internal'),
('UKURAN','Ukuran'),
('WARNA','Warna');
/*!40000 ALTER TABLE `atributvarian` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `barangkeranjang`
--

DROP TABLE IF EXISTS `barangkeranjang`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `barangkeranjang` (
  `id_keranjang` int(11) NOT NULL,
  `sku` varchar(50) NOT NULL,
  `kuantitas` int(11) NOT NULL CHECK (`kuantitas` >= 0),
  PRIMARY KEY (`id_keranjang`,`sku`),
  KEY `sku` (`sku`),
  CONSTRAINT `barangkeranjang_ibfk_1` FOREIGN KEY (`id_keranjang`) REFERENCES `keranjang` (`id_keranjang`),
  CONSTRAINT `barangkeranjang_ibfk_2` FOREIGN KEY (`sku`) REFERENCES `varianproduk` (`sku`)
) ENGINE=InnoDB DEFAULT CHARSET=latin1 COLLATE=latin1_swedish_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `barangkeranjang`
--

LOCK TABLES `barangkeranjang` WRITE;
/*!40000 ALTER TABLE `barangkeranjang` DISABLE KEYS */;
/*!40000 ALTER TABLE `barangkeranjang` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `barangpesanan`
--

DROP TABLE IF EXISTS `barangpesanan`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `barangpesanan` (
  `id_pesanan` int(11) NOT NULL,
  `sku` varchar(50) NOT NULL,
  `kuantitas` int(11) NOT NULL CHECK (`kuantitas` >= 0),
  PRIMARY KEY (`id_pesanan`,`sku`),
  KEY `sku` (`sku`),
  CONSTRAINT `barangpesanan_ibfk_1` FOREIGN KEY (`id_pesanan`) REFERENCES `pesanan` (`id_pesanan`),
  CONSTRAINT `barangpesanan_ibfk_2` FOREIGN KEY (`sku`) REFERENCES `varianproduk` (`sku`),
  CONSTRAINT `fk_barangpesanan_pesanan` FOREIGN KEY (`id_pesanan`) REFERENCES `pesanan` (`id_pesanan`) ON DELETE CASCADE
) ENGINE=InnoDB DEFAULT CHARSET=latin1 COLLATE=latin1_swedish_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `barangpesanan`
--

LOCK TABLES `barangpesanan` WRITE;
/*!40000 ALTER TABLE `barangpesanan` DISABLE KEYS */;
/*!40000 ALTER TABLE `barangpesanan` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `gambar`
--

DROP TABLE IF EXISTS `gambar`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `gambar` (
  `id_gambar` int(11) NOT NULL,
  `gambar` varchar(255) DEFAULT NULL,
  PRIMARY KEY (`id_gambar`)
) ENGINE=InnoDB DEFAULT CHARSET=latin1 COLLATE=latin1_swedish_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `gambar`
--

LOCK TABLES `gambar` WRITE;
/*!40000 ALTER TABLE `gambar` DISABLE KEYS */;
/*!40000 ALTER TABLE `gambar` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `gambarproduk`
--

DROP TABLE IF EXISTS `gambarproduk`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `gambarproduk` (
  `id_produk` int(11) NOT NULL,
  `id_gambar` int(11) NOT NULL,
  PRIMARY KEY (`id_produk`,`id_gambar`),
  KEY `id_gambar` (`id_gambar`),
  CONSTRAINT `gambarproduk_ibfk_1` FOREIGN KEY (`id_produk`) REFERENCES `produk` (`id_produk`),
  CONSTRAINT `gambarproduk_ibfk_2` FOREIGN KEY (`id_gambar`) REFERENCES `gambar` (`id_gambar`)
) ENGINE=InnoDB DEFAULT CHARSET=latin1 COLLATE=latin1_swedish_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `gambarproduk`
--

LOCK TABLES `gambarproduk` WRITE;
/*!40000 ALTER TABLE `gambarproduk` DISABLE KEYS */;
/*!40000 ALTER TABLE `gambarproduk` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `keranjang`
--

DROP TABLE IF EXISTS `keranjang`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `keranjang` (
  `id_keranjang` int(11) NOT NULL,
  `id_pembeli` int(11) DEFAULT NULL,
  PRIMARY KEY (`id_keranjang`),
  KEY `id_pembeli` (`id_pembeli`),
  CONSTRAINT `keranjang_ibfk_1` FOREIGN KEY (`id_pembeli`) REFERENCES `pembeli` (`id_pembeli`)
) ENGINE=InnoDB DEFAULT CHARSET=latin1 COLLATE=latin1_swedish_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `keranjang`
--

LOCK TABLES `keranjang` WRITE;
/*!40000 ALTER TABLE `keranjang` DISABLE KEYS */;
/*!40000 ALTER TABLE `keranjang` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `pembeli`
--

DROP TABLE IF EXISTS `pembeli`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `pembeli` (
  `id_pembeli` int(11) NOT NULL,
  `id_pengguna` int(11) DEFAULT NULL,
  PRIMARY KEY (`id_pembeli`),
  KEY `id_pengguna` (`id_pengguna`),
  CONSTRAINT `pembeli_ibfk_1` FOREIGN KEY (`id_pengguna`) REFERENCES `pengguna` (`id_pengguna`)
) ENGINE=InnoDB DEFAULT CHARSET=latin1 COLLATE=latin1_swedish_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `pembeli`
--

LOCK TABLES `pembeli` WRITE;
/*!40000 ALTER TABLE `pembeli` DISABLE KEYS */;
/*!40000 ALTER TABLE `pembeli` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `pengguna`
--

DROP TABLE IF EXISTS `pengguna`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `pengguna` (
  `id_pengguna` int(11) NOT NULL,
  `email` varchar(255) DEFAULT NULL,
  `password` varchar(255) DEFAULT NULL,
  `nama_lengkap` varchar(255) NOT NULL,
  `tgl_lahir` date NOT NULL,
  `no_telp` varchar(20) DEFAULT NULL,
  `foto_profil` varchar(255) DEFAULT NULL,
  `is_penjual` tinyint(1) DEFAULT NULL,
  PRIMARY KEY (`id_pengguna`),
  UNIQUE KEY `email` (`email`),
  CONSTRAINT `chk_email_format` CHECK (`email` regexp '^[^@\\s]+@[^@\\s]+\\.com$')
) ENGINE=InnoDB DEFAULT CHARSET=latin1 COLLATE=latin1_swedish_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `pengguna`
--

LOCK TABLES `pengguna` WRITE;
/*!40000 ALTER TABLE `pengguna` DISABLE KEYS */;
/*!40000 ALTER TABLE `pengguna` ENABLE KEYS */;
UNLOCK TABLES;
/*!50003 SET @saved_cs_client      = @@character_set_client */ ;
/*!50003 SET @saved_cs_results     = @@character_set_results */ ;
/*!50003 SET @saved_col_connection = @@collation_connection */ ;
/*!50003 SET character_set_client  = utf8mb4 */ ;
/*!50003 SET character_set_results = utf8mb4 */ ;
/*!50003 SET collation_connection  = utf8mb4_general_ci */ ;
/*!50003 SET @saved_sql_mode       = @@sql_mode */ ;
/*!50003 SET sql_mode              = 'STRICT_TRANS_TABLES,ERROR_FOR_DIVISION_BY_ZERO,NO_AUTO_CREATE_USER,NO_ENGINE_SUBSTITUTION' */ ;
DELIMITER ;;
/*!50003 CREATE*/ /*!50017 DEFINER=`root`@`localhost`*/ /*!50003 TRIGGER trg_validasi_umur
BEFORE INSERT ON Pengguna
FOR EACH ROW
BEGIN
  IF NEW.tgl_lahir > CURDATE() - INTERVAL 17 YEAR THEN
    SIGNAL SQLSTATE '45000'
    SET MESSAGE_TEXT = 'Umur pengguna harus minimal 17 tahun.';
  END IF;
END */;;
DELIMITER ;
/*!50003 SET sql_mode              = @saved_sql_mode */ ;
/*!50003 SET character_set_client  = @saved_cs_client */ ;
/*!50003 SET character_set_results = @saved_cs_results */ ;
/*!50003 SET collation_connection  = @saved_col_connection */ ;

--
-- Table structure for table `penjual`
--

DROP TABLE IF EXISTS `penjual`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `penjual` (
  `id_penjual` int(11) NOT NULL,
  `id_pengguna` int(11) DEFAULT NULL,
  `ktp` varchar(255) DEFAULT NULL,
  `foto_diri` varchar(255) DEFAULT NULL,
  `is_verified` tinyint(1) DEFAULT 0,
  PRIMARY KEY (`id_penjual`),
  KEY `fk_penjual_pengguna` (`id_pengguna`),
  CONSTRAINT `fk_penjual_pengguna` FOREIGN KEY (`id_pengguna`) REFERENCES `pengguna` (`id_pengguna`),
  CONSTRAINT `penjual_ibfk_1` FOREIGN KEY (`id_pengguna`) REFERENCES `pengguna` (`id_pengguna`),
  CONSTRAINT `chk_verified_penjual` CHECK (`is_verified` = 0 or `is_verified` = 1 and `foto_diri` is not null and `foto_diri` <> '' and `ktp` is not null and `ktp` <> '')
) ENGINE=InnoDB DEFAULT CHARSET=latin1 COLLATE=latin1_swedish_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `penjual`
--

LOCK TABLES `penjual` WRITE;
/*!40000 ALTER TABLE `penjual` DISABLE KEYS */;
/*!40000 ALTER TABLE `penjual` ENABLE KEYS */;
UNLOCK TABLES;
/*!50003 SET @saved_cs_client      = @@character_set_client */ ;
/*!50003 SET @saved_cs_results     = @@character_set_results */ ;
/*!50003 SET @saved_col_connection = @@collation_connection */ ;
/*!50003 SET character_set_client  = utf8mb4 */ ;
/*!50003 SET character_set_results = utf8mb4 */ ;
/*!50003 SET collation_connection  = utf8mb4_general_ci */ ;
/*!50003 SET @saved_sql_mode       = @@sql_mode */ ;
/*!50003 SET sql_mode              = 'STRICT_TRANS_TABLES,ERROR_FOR_DIVISION_BY_ZERO,NO_AUTO_CREATE_USER,NO_ENGINE_SUBSTITUTION' */ ;
DELIMITER ;;
/*!50003 CREATE*/ /*!50017 DEFINER=`root`@`localhost`*/ /*!50003 TRIGGER TRG_BustBuy_CekKelengkapanDataSebelumVerifikasi
BEFORE UPDATE ON Penjual
FOR EACH ROW
BEGIN
    IF NEW.is_verified = TRUE AND (OLD.is_verified = FALSE OR OLD.is_verified IS NULL) THEN
        IF NEW.foto_diri IS NULL OR TRIM(NEW.foto_diri) = '' OR NEW.ktp IS NULL OR TRIM(NEW.ktp) = '' THEN
            SIGNAL SQLSTATE '45000'
            SET MESSAGE_TEXT = 'Verifikasi gagal. Penjual wajib mengunggah foto diri dan KTP terlebih dahulu.';
        END IF;
    END IF;
END */;;
DELIMITER ;
/*!50003 SET sql_mode              = @saved_sql_mode */ ;
/*!50003 SET character_set_client  = @saved_cs_client */ ;
/*!50003 SET character_set_results = @saved_cs_results */ ;
/*!50003 SET collation_connection  = @saved_col_connection */ ;

--
-- Table structure for table `pesanan`
--

DROP TABLE IF EXISTS `pesanan`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `pesanan` (
  `id_pesanan` int(11) NOT NULL,
  `id_pembeli` int(11) DEFAULT NULL,
  `id_alamat_pembeli` int(11) DEFAULT NULL,
  `metode_pembayaran` varchar(50) DEFAULT NULL,
  `metode_pengiriman` varchar(50) DEFAULT NULL,
  `catatan` text DEFAULT NULL,
  `status_pesanan` varchar(50) DEFAULT NULL,
  `waktu_pemesanan` timestamp NULL DEFAULT current_timestamp(),
  PRIMARY KEY (`id_pesanan`),
  KEY `id_pembeli` (`id_pembeli`),
  KEY `id_alamat_pembeli` (`id_alamat_pembeli`),
  CONSTRAINT `pesanan_ibfk_1` FOREIGN KEY (`id_pembeli`) REFERENCES `pembeli` (`id_pembeli`),
  CONSTRAINT `pesanan_ibfk_2` FOREIGN KEY (`id_alamat_pembeli`) REFERENCES `alamatpembeli` (`id_alamat_pembeli`),
  CONSTRAINT `chk_status_pesanan_valid` CHECK (`status_pesanan` in ('Menunggu Pembayaran','Diproses','Dikirim','Selesai','Dibatalkan'))
) ENGINE=InnoDB DEFAULT CHARSET=latin1 COLLATE=latin1_swedish_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `pesanan`
--

LOCK TABLES `pesanan` WRITE;
/*!40000 ALTER TABLE `pesanan` DISABLE KEYS */;
/*!40000 ALTER TABLE `pesanan` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `produk`
--

DROP TABLE IF EXISTS `produk`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `produk` (
  `id_produk` int(11) NOT NULL,
  `id_penjual` int(11) DEFAULT NULL,
  `nama` varchar(255) NOT NULL,
  `deskripsi` text DEFAULT NULL,
  PRIMARY KEY (`id_produk`),
  UNIQUE KEY `unique_idpenjual_nama_produk` (`id_penjual`,`nama`),
  CONSTRAINT `produk_ibfk_1` FOREIGN KEY (`id_penjual`) REFERENCES `penjual` (`id_penjual`),
  CONSTRAINT `chk_produk_nama_not_blank` CHECK (trim(`nama`) <> '')
) ENGINE=InnoDB DEFAULT CHARSET=latin1 COLLATE=latin1_swedish_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `produk`
--

LOCK TABLES `produk` WRITE;
/*!40000 ALTER TABLE `produk` DISABLE KEYS */;
/*!40000 ALTER TABLE `produk` ENABLE KEYS */;
UNLOCK TABLES;
/*!50003 SET @saved_cs_client      = @@character_set_client */ ;
/*!50003 SET @saved_cs_results     = @@character_set_results */ ;
/*!50003 SET @saved_col_connection = @@collation_connection */ ;
/*!50003 SET character_set_client  = utf8mb4 */ ;
/*!50003 SET character_set_results = utf8mb4 */ ;
/*!50003 SET collation_connection  = utf8mb4_general_ci */ ;
/*!50003 SET @saved_sql_mode       = @@sql_mode */ ;
/*!50003 SET sql_mode              = 'STRICT_TRANS_TABLES,ERROR_FOR_DIVISION_BY_ZERO,NO_AUTO_CREATE_USER,NO_ENGINE_SUBSTITUTION' */ ;
DELIMITER ;;
/*!50003 CREATE*/ /*!50017 DEFINER=`root`@`localhost`*/ /*!50003 TRIGGER trg_produk_hanya_penjual_terverifikasi
BEFORE INSERT ON Produk
FOR EACH ROW
BEGIN
    DECLARE verified_status TINYINT;

    SELECT is_verified INTO verified_status
    FROM Penjual
    WHERE id_penjual = NEW.id_penjual;

    IF verified_status IS NULL OR verified_status <> 1 THEN
        SIGNAL SQLSTATE '45000'
        SET MESSAGE_TEXT = 'Gagal: Penjual belum terverifikasi. Produk tidak dapat ditambahkan.';
    END IF;
END */;;
DELIMITER ;
/*!50003 SET sql_mode              = @saved_sql_mode */ ;
/*!50003 SET character_set_client  = @saved_cs_client */ ;
/*!50003 SET character_set_results = @saved_cs_results */ ;
/*!50003 SET collation_connection  = @saved_col_connection */ ;

--
-- Table structure for table `produkvarianatribut`
--

DROP TABLE IF EXISTS `produkvarianatribut`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `produkvarianatribut` (
  `id_produk` int(11) NOT NULL,
  `atribut_varian` varchar(50) NOT NULL,
  `sku` varchar(50) NOT NULL,
  `nilai` varchar(100) DEFAULT NULL,
  PRIMARY KEY (`id_produk`,`atribut_varian`,`sku`),
  KEY `atribut_varian` (`atribut_varian`),
  KEY `sku` (`sku`),
  CONSTRAINT `produkvarianatribut_ibfk_1` FOREIGN KEY (`id_produk`) REFERENCES `produk` (`id_produk`),
  CONSTRAINT `produkvarianatribut_ibfk_2` FOREIGN KEY (`atribut_varian`) REFERENCES `atributvarian` (`atribut_varian`),
  CONSTRAINT `produkvarianatribut_ibfk_3` FOREIGN KEY (`sku`) REFERENCES `varianproduk` (`sku`)
) ENGINE=InnoDB DEFAULT CHARSET=latin1 COLLATE=latin1_swedish_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `produkvarianatribut`
--

LOCK TABLES `produkvarianatribut` WRITE;
/*!40000 ALTER TABLE `produkvarianatribut` DISABLE KEYS */;
/*!40000 ALTER TABLE `produkvarianatribut` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `tag`
--

DROP TABLE IF EXISTS `tag`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `tag` (
  `id_tag` int(11) NOT NULL,
  `nama` varchar(50) DEFAULT NULL,
  PRIMARY KEY (`id_tag`),
  UNIQUE KEY `unique_nama_tag` (`nama`)
) ENGINE=InnoDB DEFAULT CHARSET=latin1 COLLATE=latin1_swedish_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `tag`
--

LOCK TABLES `tag` WRITE;
/*!40000 ALTER TABLE `tag` DISABLE KEYS */;
/*!40000 ALTER TABLE `tag` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `tagproduk`
--

DROP TABLE IF EXISTS `tagproduk`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `tagproduk` (
  `id_produk` int(11) NOT NULL,
  `id_tag` int(11) NOT NULL,
  PRIMARY KEY (`id_produk`,`id_tag`),
  KEY `fk_tagproduk_tag` (`id_tag`),
  CONSTRAINT `fk_tagproduk_produk` FOREIGN KEY (`id_produk`) REFERENCES `produk` (`id_produk`),
  CONSTRAINT `fk_tagproduk_tag` FOREIGN KEY (`id_tag`) REFERENCES `tag` (`id_tag`),
  CONSTRAINT `tagproduk_ibfk_1` FOREIGN KEY (`id_produk`) REFERENCES `produk` (`id_produk`),
  CONSTRAINT `tagproduk_ibfk_2` FOREIGN KEY (`id_tag`) REFERENCES `tag` (`id_tag`)
) ENGINE=InnoDB DEFAULT CHARSET=latin1 COLLATE=latin1_swedish_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `tagproduk`
--

LOCK TABLES `tagproduk` WRITE;
/*!40000 ALTER TABLE `tagproduk` DISABLE KEYS */;
/*!40000 ALTER TABLE `tagproduk` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Temporary table structure for view `tagterpopuler`
--

DROP TABLE IF EXISTS `tagterpopuler`;
/*!50001 DROP VIEW IF EXISTS `tagterpopuler`*/;
SET @saved_cs_client     = @@character_set_client;
SET character_set_client = utf8mb4;
/*!50001 CREATE VIEW `tagterpopuler` AS SELECT
 1 AS `id_tag`,
  1 AS `nama`,
  1 AS `jumlah_produk` */;
SET character_set_client = @saved_cs_client;

--
-- Table structure for table `teman`
--

DROP TABLE IF EXISTS `teman`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `teman` (
  `id_diikuti` int(11) NOT NULL,
  `id_mengikuti` int(11) NOT NULL,
  PRIMARY KEY (`id_diikuti`,`id_mengikuti`),
  KEY `id_mengikuti` (`id_mengikuti`),
  CONSTRAINT `teman_ibfk_1` FOREIGN KEY (`id_diikuti`) REFERENCES `pengguna` (`id_pengguna`),
  CONSTRAINT `teman_ibfk_2` FOREIGN KEY (`id_mengikuti`) REFERENCES `pengguna` (`id_pengguna`)
) ENGINE=InnoDB DEFAULT CHARSET=latin1 COLLATE=latin1_swedish_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `teman`
--

LOCK TABLES `teman` WRITE;
/*!40000 ALTER TABLE `teman` DISABLE KEYS */;
/*!40000 ALTER TABLE `teman` ENABLE KEYS */;
UNLOCK TABLES;
/*!50003 SET @saved_cs_client      = @@character_set_client */ ;
/*!50003 SET @saved_cs_results     = @@character_set_results */ ;
/*!50003 SET @saved_col_connection = @@collation_connection */ ;
/*!50003 SET character_set_client  = utf8mb4 */ ;
/*!50003 SET character_set_results = utf8mb4 */ ;
/*!50003 SET collation_connection  = utf8mb4_general_ci */ ;
/*!50003 SET @saved_sql_mode       = @@sql_mode */ ;
/*!50003 SET sql_mode              = 'STRICT_TRANS_TABLES,ERROR_FOR_DIVISION_BY_ZERO,NO_AUTO_CREATE_USER,NO_ENGINE_SUBSTITUTION' */ ;
DELIMITER ;;
/*!50003 CREATE*/ /*!50017 DEFINER=`root`@`localhost`*/ /*!50003 TRIGGER TRG_BustBuys_AutoFollback
AFTER INSERT ON Teman
FOR EACH ROW
BEGIN
    DECLARE tipe_pengikut_adalah_penjual BOOLEAN;
    DECLARE tipe_diikuti_adalah_penjual BOOLEAN;

    SELECT P.is_penjual INTO tipe_pengikut_adalah_penjual
    FROM Pengguna P
    WHERE P.id_pengguna = NEW.id_mengikuti;

    SELECT P.is_penjual INTO tipe_diikuti_adalah_penjual
    FROM Pengguna P
    WHERE P.id_pengguna = NEW.id_diikuti;

    IF tipe_pengikut_adalah_penjual = FALSE AND tipe_diikuti_adalah_penjual = TRUE THEN
        INSERT IGNORE INTO Teman (id_diikuti, id_mengikuti)
        VALUES (NEW.id_mengikuti, NEW.id_diikuti);
    END IF;
END */;;
DELIMITER ;
/*!50003 SET sql_mode              = @saved_sql_mode */ ;
/*!50003 SET character_set_client  = @saved_cs_client */ ;
/*!50003 SET character_set_results = @saved_cs_results */ ;
/*!50003 SET collation_connection  = @saved_col_connection */ ;
/*!50003 SET @saved_cs_client      = @@character_set_client */ ;
/*!50003 SET @saved_cs_results     = @@character_set_results */ ;
/*!50003 SET @saved_col_connection = @@collation_connection */ ;
/*!50003 SET character_set_client  = utf8mb4 */ ;
/*!50003 SET character_set_results = utf8mb4 */ ;
/*!50003 SET collation_connection  = utf8mb4_general_ci */ ;
/*!50003 SET @saved_sql_mode       = @@sql_mode */ ;
/*!50003 SET sql_mode              = 'STRICT_TRANS_TABLES,ERROR_FOR_DIVISION_BY_ZERO,NO_AUTO_CREATE_USER,NO_ENGINE_SUBSTITUTION' */ ;
DELIMITER ;;
/*!50003 CREATE*/ /*!50017 DEFINER=`root`@`localhost`*/ /*!50003 TRIGGER TRG_BustBuy_AutoUnfollow
AFTER DELETE ON Teman
FOR EACH ROW
BEGIN
    DECLARE tipe_pengikut_lama_adalah_penjual BOOLEAN;
    DECLARE tipe_diikuti_lama_adalah_penjual BOOLEAN;

    SELECT P.is_penjual INTO tipe_pengikut_lama_adalah_penjual
    FROM Pengguna P
    WHERE P.id_pengguna = OLD.id_mengikuti;

    SELECT P.is_penjual INTO tipe_diikuti_lama_adalah_penjual
    FROM Pengguna P
    WHERE P.id_pengguna = OLD.id_diikuti;

    IF tipe_pengikut_lama_adalah_penjual = FALSE AND tipe_diikuti_lama_adalah_penjual = TRUE THEN
        DELETE FROM Teman
        WHERE id_diikuti = OLD.id_mengikuti AND id_mengikuti = OLD.id_diikuti;
    END IF;
END */;;
DELIMITER ;
/*!50003 SET sql_mode              = @saved_sql_mode */ ;
/*!50003 SET character_set_client  = @saved_cs_client */ ;
/*!50003 SET character_set_results = @saved_cs_results */ ;
/*!50003 SET collation_connection  = @saved_col_connection */ ;

--
-- Table structure for table `ulasan`
--

DROP TABLE IF EXISTS `ulasan`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `ulasan` (
  `id_produk` int(11) NOT NULL,
  `id_pembeli` int(11) NOT NULL,
  `komentar` text DEFAULT NULL,
  `penilaian` int(11) NOT NULL CHECK (`penilaian` between 1 and 5),
  PRIMARY KEY (`id_produk`,`id_pembeli`),
  KEY `id_pembeli` (`id_pembeli`),
  CONSTRAINT `ulasan_ibfk_1` FOREIGN KEY (`id_produk`) REFERENCES `produk` (`id_produk`),
  CONSTRAINT `ulasan_ibfk_2` FOREIGN KEY (`id_pembeli`) REFERENCES `pembeli` (`id_pembeli`)
) ENGINE=InnoDB DEFAULT CHARSET=latin1 COLLATE=latin1_swedish_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `ulasan`
--

LOCK TABLES `ulasan` WRITE;
/*!40000 ALTER TABLE `ulasan` DISABLE KEYS */;
/*!40000 ALTER TABLE `ulasan` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `varianproduk`
--

DROP TABLE IF EXISTS `varianproduk`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `varianproduk` (
  `sku` varchar(50) NOT NULL,
  `id_produk` int(11) DEFAULT NULL,
  `harga` decimal(10,2) NOT NULL CHECK (`harga` >= 0),
  `stok` int(11) NOT NULL CHECK (`stok` >= 0),
  PRIMARY KEY (`sku`),
  KEY `id_produk` (`id_produk`),
  CONSTRAINT `varianproduk_ibfk_1` FOREIGN KEY (`id_produk`) REFERENCES `produk` (`id_produk`)
) ENGINE=InnoDB DEFAULT CHARSET=latin1 COLLATE=latin1_swedish_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `varianproduk`
--

LOCK TABLES `varianproduk` WRITE;
/*!40000 ALTER TABLE `varianproduk` DISABLE KEYS */;
/*!40000 ALTER TABLE `varianproduk` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `wishlist`
--

DROP TABLE IF EXISTS `wishlist`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8mb4 */;
CREATE TABLE `wishlist` (
  `id_pembeli` int(11) NOT NULL,
  `id_produk` int(11) NOT NULL,
  PRIMARY KEY (`id_pembeli`,`id_produk`),
  KEY `id_produk` (`id_produk`),
  CONSTRAINT `wishlist_ibfk_1` FOREIGN KEY (`id_pembeli`) REFERENCES `pembeli` (`id_pembeli`),
  CONSTRAINT `wishlist_ibfk_2` FOREIGN KEY (`id_produk`) REFERENCES `produk` (`id_produk`)
) ENGINE=InnoDB DEFAULT CHARSET=latin1 COLLATE=latin1_swedish_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `wishlist`
--

LOCK TABLES `wishlist` WRITE;
/*!40000 ALTER TABLE `wishlist` DISABLE KEYS */;
/*!40000 ALTER TABLE `wishlist` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Current Database: `ecommerce`
--

USE `ecommerce`;

--
-- Final view structure for view `tagterpopuler`
--

/*!50001 DROP VIEW IF EXISTS `tagterpopuler`*/;
/*!50001 SET @saved_cs_client          = @@character_set_client */;
/*!50001 SET @saved_cs_results         = @@character_set_results */;
/*!50001 SET @saved_col_connection     = @@collation_connection */;
/*!50001 SET character_set_client      = utf8mb4 */;
/*!50001 SET character_set_results     = utf8mb4 */;
/*!50001 SET collation_connection      = utf8mb4_general_ci */;
/*!50001 CREATE ALGORITHM=UNDEFINED */
/*!50013 DEFINER=`root`@`localhost` SQL SECURITY DEFINER */
/*!50001 VIEW `tagterpopuler` AS select `t`.`id_tag` AS `id_tag`,`t`.`nama` AS `nama`,count(`tp`.`id_produk`) AS `jumlah_produk` from (`tag` `t` join `tagproduk` `tp` on(`t`.`id_tag` = `tp`.`id_tag`)) group by `t`.`id_tag`,`t`.`nama` order by count(`tp`.`id_produk`) desc limit 5 */;
/*!50001 SET character_set_client      = @saved_cs_client */;
/*!50001 SET character_set_results     = @saved_cs_results */;
/*!50001 SET collation_connection      = @saved_col_connection */;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*M!100616 SET NOTE_VERBOSITY=@OLD_NOTE_VERBOSITY */;

-- Dump completed on 2025-05-31 22:52:51
